.ghost-button-semi-transparent {
  display: inline-block;
  width: 200px;
  padding: 15px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;

  -webkit-transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
  transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
}
.ghost-button-semi-transparent:hover,
.ghost-button-semi-transparent:active {
  background-color: #fff; /* fallback */
  background-color: rgba(255, 255, 255, 0.212);
  border-color: #fff; /* fallback */
  border-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: background-color 0.3s ease-in, border-color 0.3s ease-in;
  transition: background-color 0.3s ease-in, border-color 0.3s ease-in;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 60px;
  margin: auto;
  background-color: #2c3e50;
  z-index: 7;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
.menu li {
  float: left;
  width: 25%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.menu a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  position: relative;
  font-size: 18px;
  z-index: 9;
}
a.active {
  background-color: #e74c3c;
  pointer-events: none;
}
li.slider {
  width: 25%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 8;
  /* transition: left 0.4s, background-color 0.4s; */
}
.menu li:nth-child(1):hover ~ .slider,
.menu li:nth-child(1):focus ~ .slider,
.menu li:nth-child(1):active ~ .slider {
  left: 0;
  background-color: #3498db;
}
.menu li:nth-child(2):hover ~ .slider,
.menu li:nth-child(2):focus ~ .slider,
.menu li:nth-child(2):active ~ .slider {
  left: 25%;
  background-color: #9b59b6;
}
.menu li:nth-child(3):hover ~ .slider,
.menu li:nth-child(3):focus ~ .slider,
.menu li:nth-child(3):active ~ .slider {
  left: 50%;
  background-color: #e67e22;
}
.menu li:nth-child(4):hover ~ .slider,
.menu li:nth-child(4):focus ~ .slider,
.menu li:nth-child(4):active ~ .slider {
  left: 75%;
  background-color: #16a085;
}

.skillscontainer {
  width: 100%;
  height: 100%;
  padding: 0 4vw 0 8vw;
}

.skillscontainer ul {
  padding: 0px;
  margin: 0px;
}

.skillscontainer li {
  position: relative;
  list-style: none;
  margin: 0 50px 50px 0px;
  font-weight: 500;
  text-transform: uppercase;
}

.skillscontainer li:before {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  height: 25px;
  background-color: hsla(162, 59%, 58%, 0.5);
  border-radius: 1000px;
}

.skillscontainer li:after {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 0;
  height: 25px;
  background-color: hsla(162, 53%, 43%, 0.5);
  border-radius: 1000px;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.skillscontainer li.html:after {
  animation-name: html;
}

@keyframes html {
  to {
    width: 90%;
  }
}

.skillscontainer li.react:after {
  animation-name: react;
}

@keyframes react {
  to {
    width: 75%;
  }
}

.skillscontainer li.js:after {
  animation-name: js;
}

@keyframes js {
  to {
    width: 70%;
  }
}

.skillscontainer li.express:after {
  animation-name: express;
}

@keyframes express {
  to {
    width: 70%;
  }
}
.skillscontainer li.api:after {
  animation-name: api;
}

@keyframes api {
  to {
    width: 70%;
  }
}
.skillscontainer li.mongo:after {
  animation-name: mongo;
}

@keyframes mongo {
  to {
    width: 65%;
  }
}

.bg,
.overlay {
  text-align: center;
}
img,
.overlay {
  transition: 0.7s all;
  border-radius: 3px;
}
.bg {
  width: 100%;
  position: relative;
}
.bg img {
  width: 100%;
  height: 100%;
}
.bg .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.411);
  color: #fff;
  opacity: 0;
}

.backcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.bg:hover .overlay {
  opacity: 1;
}
.bg:hover img {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
